%footer
  %script{ :src => 'http://code.jquery.com/jquery-2.1.3.min.js', :type => 'text/javascript', :charset => 'utf-8' }
  %script{ :src => '/assets/js/bootstrap.min.js', :type => 'text/javascript', :charset => 'utf-8' }
  %script{ :src => '/assets/js/offcanvas.min.js', :type => 'text/javascript', :charset => 'utf-8' }
  %script{ :src => '/assets/js/main.min.js', :type => 'text/javascript', :charset => 'utf-8' }  