%header{:class => "navbar navbar-static-top bs-docs-nav", :role => "banner"}
	.container
		.row
			.col-sm-12
				.navbar-header
					%button{:class => "navbar-toggle", :type => "button", :data_toggle => "collapse", :data_target => ".bs-navbar-collapse"}
						%span.sr-only
							Toggle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					%a{:class => "navbar-brand", :href => "/"}
						HAML + SASS for mixture.io
				%nav{:class => "collapse navbar-collapse bs-navbar-collapse", :role => "navigation"}
					%ul{:class => "nav navbar-nav list-list-inline"}
						%li
							%a{:href => "/desktop/index"}
								index
						%li
							%a{:href => "/desktop/bootstrap_elements"}
								Example				
